<div class="no-current-bid">Sorry, you do not have a current bid. Please place a bid!</div>
<div class="current-bid">
	Your Bid: <%= currentBidValue %> S&P Percent Change: <%= percentChange %> 
	<%= (winner? "WINNER!" : "Sorry, try again next time!") %>

</div>