<section>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="bet-closed-form">
				Sorry, betting for today has closed.
			</div>
			<div class="valid-bet-form">

		          <h2>
		          Place bet
		          </h2>
		    	 <div class="bet form">
		             <form id="bet-form">
		              <div class="form-group">
		                 <input type="text" class="form-control" id="recipient-name" name="boards[title]" required title="Please make a bet.">
		                 <button class="btn btn-info" type="submit">Place Bet!</button>
		              </div>
		             </form>
				</div>
			</div>

			<h3>Previous Bets</h3>
			
			<ul class='bids'>

			</ul>
		</div>
	</div>
</div>
</section>

